.box {
  position: relative;
  border-radius: 30px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  background: #eaeaea;
  padding: 1rem;
  font-weight: 700;
}

.box-text {
  position: absolute;
  top: -1.5rem;
  left: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
}
